<div class="article-card-inner glass-card">
  <div class="article-image-container">
    <img [src]="resolveImageUrl(article.coverImageUrl)" [alt]="article.title" class="article-image" />
  </div>

  <div class="article-info">
    <div class="article-meta">
      <span class="meta-item"><i class="fa fa-calendar-days"></i> {{ formatDate(article.publishedDate) }}</span>
      <span class="meta-item"><i class="fa fa-user"></i> {{ article.author }}</span>
    </div>
    
    <h3 class="article-title">
      <a [routerLink]="['/blog', article.slug]">{{ article.title }}</a>
    </h3>
    
    <p class="article-snippet">
      {{ getSnippet(article.content) }}
    </p>
    
    <a [routerLink]="['/blog', article.slug]" class="read-more-link">
      Read More <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>
